mixin app_tile(tile, location_class)
  .tile.app__tile(
    class= location_class
  )
    a.tile__card.app__card(
      name= tile.name
      href= tile.link
    )
      img.tile__background(
        src= 'https://snakewave.com/' + tile.image
      )
    div
      .tile__name= tile.name
