.grid-body
  .userblock
    .icon
      img.icon__img(
        src="triss.jpg"
      )

    .userblock__name Triss Merigold

  .title
    div Library

  .content
    .tile-panel.content__tile-panel
      .tile.content__tile
        .tile__card
          img.tile__background(
            src="terminal.jpg"
          )
        div
          .tile__name Terminal

      .tile.content__tile
        .tile__card
          img.tile__background(
            src="terminal.jpg"
          )
        div
          .tile__name Terminal

      .tile.content__tile
        .tile__card
          img.tile__background(
            src="terminal.jpg"
          )
        div
          .tile__name Terminal

      .tile.content__tile
        .tile__card
          img.tile__background(
            src="terminal.jpg"
          )
        div
          .tile__name Terminal

      .tile.content__tile
        .tile__card
          img.tile__background(
            src="terminal.jpg"
          )
        div
          .tile__name Terminal


  .menu
    .tile-panel.menu__tile-panel
      .tile.menu__tile
        .tile__card
          img.tile__icon
        div
          .tile__name Store

      .tile.menu__tile
        .tile__card
          img.tile__icon
        div
          .tile__name Library

      .tile.menu__tile
        .tile__card
          img.tile__icon
        div
          .tile__name Settings

      .tile.menu__tile
        .tile__card
          img.tile__icon
        div
          .tile__name About
