#login.block
  div
    form#loginForm
      input(
        name='email'
        type='text'
        placeholder='email'
        minlength='3'
        required
      )
      input(
        name='password'
        type='password'
        placeholder='password'
      )
      input.button(
        name='submit'
        type='submit'
        value='login'
      )
      p.message Not registered?
        a(datahref='register')  Create an account
