#login.block
  div
    form#loginForm
      input#usernameInput(
        name='username'
        type='text'
        placeholder='Username'
        minlength='4'
        required
      )
      input#passwordInput(
        name='password'
        type='password'
        placeholder='Password'
        minlength='6'
        required
      )
      input.button(
        name='submit'
        type='submit'
        value='login'
      )
      p.message Not registered?
        a(datahref='register')  Create an account