#register.block
  div
    form#registerForm(
      name='register-form'
      enctype='multipart/form-data'
    )
      input#usernameInput(
        name='username'
        type='text'
        placeholder='Username'
        minlength='4'
        required
      )
      .input-requirements
        p#usernameMessage At least 4 characters long

      input#passwordInput(
        name='password'
        type='password'
        placeholder='Password'
        minlength='6'
        required
      )
      .input-requirements
        p#passwordMessage  At least 6 characters long

      input#repeatPasswordInput(
        type='password'
        placeholder='Repeat Password'
        minlength='6'
        required
      )
      .input-requirements
        p#repeatPasswordMessage Passwords must match

      label.button Choose avatar
        input#fileInput(
          name="avatar"
          type="file"
        )

      input.button(
        name='submit'
        type='submit'
        value='register'
      )
      p.message Already registered?
        a(
          datahref='login'
        )  Sign In
