- const userName = 'Dieter Rams'
.block#profile
  img(src = 'https://wavebackend.now.sh/' + user.avatarSource)
  h3= user.username
  h3= 'Score: ' + user.score
  a.button(
    datahref='editProfile'
  ) Edit
  a.button#logoutbutton(
    datahref='menu'
  ) logout
  a.button(
    datahref='menu'
  ) Back
