.block#profile
  img(src=user.avatar)
  h3= user.username
  h3= 'Score: ' + user.score
  a.button(
    href='/profile/edit'
  ) Edit
  a.button#logoutbutton(
    href='/'
  ) logout
  a.button(
    href='/'
  ) Back
