#login.block
  div
    form#loginForm
      .error-message
        p#errorMessage  Wrong username or password
      input#usernameInput(
        name='username'
        type='text'
        placeholder='Username'
        minlength='4'
        required
      )
      input#passwordInput(
        name='password'
        type='password'
        placeholder='Password'
        minlength='6'
        required
      )
      input.button(
        name='submit'
        type='submit'
        value='login'
      )
      a.button(
        href='/'
      ) Back
      p.message Not registered?
        a(href='/register')  Create an account
